<html lang="en-gb">
<header>
    <%- include('_head') -%>
        <nav><%- include('_header') -%>
        </nav>
</header>

<main>
    <h1>Posts</h1>
    <section>
        <ol>
            <% postList.results.forEach(function(post) {%>
                <li>
                    <%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %>
                            <form method="post" action="/posts/<%=post.id%>/like/">
                                <button type="submit">Like</button>
                                <button type="submit" formaction="/posts/<%=post.id%>/dislike/"> Dislike </button>
                            </form>
                </li>
                <% }); %>

        </ol>
    </section>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
        <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
                <% } %>

                    <p> <a href="/posts/create">Create Post</a></p>

</main>
<footer><%- include('_footer') -%></footer>

</html>