<html lang="en-gb">
<header>
    <%- include('_head') -%>

</header>
<nav>
    <%- include('_header') -%>
</nav>

<main id="postlist-main">
    <section>
        <h2>Posts</h2>
        <button id="my-button">change color</button>
        <ol id="ol-id">
            <% postList.results.forEach(function(post) {%>
                <li class="eachPost">
                    <div id="post-item">

                        <%= post.message %>
                            - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %><br>
                                <!-- <img id="postlistImg"   src="<%= post.imageUrl %>" height="300px" width="300px"> -->
                                <img id="postlistImg" src=<%=post.imageUrl %> onerror="src =
                                'https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg';"
                                alt="User uploaded image"><br>

                                <form id ="likedislike" method="post" action="/posts/<%=post.id%>/like/">
                                    <button id="like" type="submit">Like </button>
                                    <button id="dislike" type="submit"
                                        formaction="/posts/<%=post.id%>/dislike/">Dislike</button>
                                </form>
                    </div>
                </li>
                <% }); %>

        </ol>
    </section>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
        <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
                <% } %>

                    <!-- <a href="/posts/create">Create Post</a> -->

</main>
<footer><%- include('_footer') -%></footer>

</html>