<html lang="en-gb">
<header>
    <%- include('_head') -%>

</header>
<nav><%- include('_header') -%>
</nav>

<main>
    <section>
        <h2>Posts</h2>
        <button id="my-button">change color</button>
        <ol id="ol-id">
            <% postList.results.forEach(function(post) {%>
                <li class="eachPost">
                    <div id="post-item">
                        <p id="postmessage">
                            <%= post.message %>
                        </p>
                        - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %><br>

                            <img id="postlistImg" src="<%= post.imageUrl %>" height="300px" width="300px">
                            <form method="post" action="/posts/<%=post.id%>/like/">
                                <button id="like" type="submit">Like </button>
                                <button id="dislike" type="submit"
                                    formaction="/posts/<%=post.id%>/dislike/">Dislike</button>
                            </form>
                    </div>
                </li>
                <% }); %>

        </ol>
    </section>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
        <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
                <% } %>

                    <!-- <a href="/posts/create">Create Post</a> -->

</main>
<footer><%- include('_footer') -%></footer>

</html>