<html lang="en-gb">
<header>
    <%- include('_head') -%>

</header>
<nav><%- include('_header') -%>
</nav>

<main>
    <section>
        <h2>Posts</h2>

        <ol>
            <% postList.results.forEach(function(post) {%>
                <li>

                    <%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %><br>
                            <img src="<%= post.imageUrl %>">
                            <form method="post" action="/posts/<%=post.id%>/like/">
                                <button id="like" type="submit">Like </button>
                                <button id="dislike" type="submit"
                                    formaction="/posts/<%=post.id%>/dislike/">Dislike</button>
                            </form>
                </li>
                <% }); %>

        </ol>
    </section>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
        <% } %>
            <%if (postList.previous) { %>
                <a href="<%= postList.previous %>">Previous</a>
                <% } %>

                    <!-- <a href="/posts/create">Create Post</a> -->

</main>
<footer><%- include('_footer') -%></footer>

</html>