<html lang="en-gb">
<header><%- include('_head') -%>
        <nav><%- include('_header') -%></nav>
</header>

<main>
    <section class="user">

        <img class="coverImage" src="<%= coverImageUrl %>" alt="cover image">
        <div class="profile">
            <img class="profile_image" src="<%= profileImageUrl %>" alt="profile image">
            <p class="profile-details">

                <%= name %>
                    <br>
                    <%= username %>
                        <br>
                        <%= email %>
                            <br>
            </p>
        </div>
    </section>

    <section>
        <p class="posts_types">
            <%= name %>'s Posts
        </p>
        <div class="posts">
            <%for(let i=0;i<6;i++ ) {%>
                <div class="card">
                    <img class="card_image" src="<%= posts[i].imageUrl %>">
                    <div class="card_body">
                        <h4>
                            <%=name%>
                        </h4>
                        <h4>
                            <%= posts[i].createdAt %>
                        </h4>
                        <p class="message">
                            <%= posts[i].message %>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>

    </section>

    <section>
        <p class="posts_types">Posts <%= name %> liked</p>
        <div class="posts">
            <%for(let i=0;i<6;i++ ) {%>
                <div class="card">
                    <img class="card_image" src="<%= likes[i].imageUrl %>">
                    <div class="card_body">
                        <h4>
                            <%=name%>
                        </h4>
                        <h4>
                            <%= likes[i].createdAt %>
                        </h4>
                        <p class="message">
                            <%= likes[i].message %>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>
    </section>

    <section>
        <p class="posts_types">Posts <%= name %> disliked</p>
        <div class="posts">

            <%for(let i=0;i<6;i++ ) {%>
                <div class="card">
                    <img class="card_image" src="<%= dislikes[i].imageUrl %>">
                    <div class="card_body">
                        <h4>
                            <%=name%>
                        </h4>
                        <h4>
                            <%= dislikes[i].reatedAt %>
                        </h4>
                        <p class="message">
                            <%= dislikes[i].message %>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>
    </section>


</main>
<footer><%- include('_footer') -%></footer>

</html>