<html lang="en-gb">
<header>
    <%- include('_head') -%>

</header>
<nav>
    <%- include('_header') -%>
</nav>

<main>
    <h2>Users</h2>
    <ol>
        <% results.forEach(function(user) {%>
            <li>

                <a href="/users/<%=user.id%>">
                    <%= user.name %>
                </a>
                <% }); %>
    </ol>
    <%if (next) { %>
        <a href="<%= next %>">Next</a>
        <% } %>
            <%if (previous) { %>
                <a href="<%= previous %>">Previous</a>
                <% } %>
                    <a href="/users/create">Create User</a>
</main>
<footer>
    <%- include('_footer') -%>
</footer>

</html>