<html lang="en-gb">
<header>
    <%- include('_head') -%>
        <nav>
            <%- include('_header') -%>
        </nav>
</header>

<main>
    <h2>Users</h2>
    <ol>
        <% results.forEach(function(user) {%>
            <li>
                <%= user.name %>
            </li>
            <% }); %>
    </ol>
    <%if (next) { %>
        <a href="<%= next %>">Next</a>
        <% } %>
            <%if (previous) { %>
                <a href="<%= previous %>">Previous</a>
                <% } %>
                     <a href="/users/create">Create User</a>
</main>
<footer>
    <%- include('_footer') -%>
</footer>

</html>